.buttonDropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.dropdownCard {
  max-height: 15rem;
  overflow-y: auto;
}

.dropdownCard__title {
  font-weight: 500;
  color: white;
}

.dropdownCard__item {
  font-weight: 300;
}
.dropdownCard__item--active {
  font-weight: 300;
  background-color: #0d6efd;
  color: white;
}

.option-active {
  background-color: "blue";
}
