.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.rowsPage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rowsPage select {
  width: 4rem;
}
